@page
@model WebApp.Pages.Despatches.EditModel

@{
    ViewData["Title"] = "Edit Despatch";
}
<div class="container">
    <h1>Edit Despatch</h1>

    <hr />
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Despatch.ReferenceNo" class="control-label required-field">Reference No.</label>
                    <input asp-for="Despatch.ReferenceNo" class="form-control " readonly />
                    <span asp-validation-for="Despatch.ReferenceNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Despatch.SendTo" class="control-label required-field">To</label>
                    <input asp-for="Despatch.SendTo" class="form-control" />
                    <span asp-validation-for="Despatch.SendTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Despatch.Purpose" class="control-label required-field">Subject</label>
                    <input asp-for="Despatch.Purpose" class="form-control" />
                    <span asp-validation-for="Despatch.Purpose" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Despatch.IndentingDept" class="control-label required-field">Department</label>
                    @*<input asp-for="Despatch.IndentingDept" class="form-control" />*@
                    <select asp-for="Despatch.IndentingDept" class="form-control" asp-items="Model.IndentingDeptOptions"></select>
                    <span asp-validation-for="Despatch.IndentingDept" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Despatch.Id" />
                <div class="form-group">
                    <input type="submit" value="Update Proposal" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <style>
        tooltip-inner {
            max-width: 80% !important;
        }

        label.control-label {
            color: saddlebrown;
            font-weight: 400;
        }
        .required-field::after {
            content: "*";
            color: red;
            font-size: 21px;
            font-weight: 900;
        }
    </style>
}
