@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WRLDC Despatch Register</h1>
    <br />
    <h3><a asp-page="/Despatches/Index">View Despatch</a></h3>
    <br />
    <h3><a asp-page="/Despatches/Create">Create Despatch</a></h3>
</div>
